body { 
    margin: 0; 
    background: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a, 
a:visited, 
a:active, 
a:hover {
    text-decoration: none;
    blr:expression(this.onFocus=this.blur());
    cursor: pointer;}

a {
    outline: none;/* for Firefox Chrome */ 
    behavior:expression(this.onFocus=this.blur());/* for IE */} 
    a:focus{ -moz-outline-style: none; outline: none; } /* for Firefox Chrome */
    a:link {text-decoration: none;}
    a:visited {text-decoration: none;}
    a:hover {text-decoration: none;}
    input, 
    textarea,{ font-family: 'Roboto','Helvetica Neue',Helvetica, Arial,'Apple LiGothic Medium','STHeiti Light','微軟正黑體','Microsoft JhengHei',sans-serif;}
    input:focus, 
    textarea:focus    { outline: none;}



.header{
    height: 70px;
    border-bottom: 1px solid #333;
    position: absolute;
    background: #000;
    width: 100%;
    top: 0px; /* for header */
    left: 0;
    z-index: 100;
}


.header-inner{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.header .logo{
    height: 50px;
    padding-top: 10px;
}
.header .menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    height: 70px;
}
.header .menu li{
    margin: 0 10px 0 40px;
    padding: 0;
    float: left;
}
.header .menu li a{
    display: block;
    border-bottom: 4px solid #000;
    line-height: 70px;
    height: 66px;
    color: #bbb;
}
.header .menu li a:hover{
    color: #fff;
}
.header .menu li a.active{
    color: #fff;
    border-color: #cf121c;
}


section .row video {
    float:right;
    width: 100%;
    margin: 100px 0 30px;
    height:550px;
    border-style: solid;
    border-radius: 5px;
    
}

#bodyCanvas {
    margin: 100px 0 30px;
    border-style: solid;
    /*width: 100%;
    height:550px;*/
    width:512px;
    height:550px;    
    border-radius: 5px;
}
#rectangle{
    border-style: solid;
    width: 30;
    height: 30;
}

.button {
    align-items: center;
}
.center{
    text-align: center;
    
}

.col-md-6 {
  margin: 0 0 30px;
}

.button1{
    float: right;
}

.btn defaul pull-right{
    color: green;
}

.ExerciseN {
    float:right;
    margin-right:  40px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    background: -moz-linear-gradient(top,  green 50%, darkgreen 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,green), color-stop(50%,darkgreen)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  green 50%,darkgreen 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  green 50%,darkgreen 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  green 50%,darkgreen 50%); /* IE10+ */
	background: linear-gradient(to bottom,  green 50%,darkgreen 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='green', endColorstr='darkgreen',GradientType=0 ); /* IE6-9 */
}